h1 {
  color: black;
  background-color: rgb(255, 115, 0);
}
 body {
   background-color: brown;
  border-width: thick;
  border-style: solid;
  border-color:rgba(245, 187, 179, 0.603)
  padding: 20%;
}